.combo__artc {
  background-image: url("../../../../imgs/Background.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: right;

  height: 680px;
}

.combo__img {
  width: 50%;
  min-width: 300px;
}

.combo__artc .text__div {
  background-image: linear-gradient(to right, #000000c0, #00000000);
  color: white;
  position: relative;

  gap: 1rem;

  padding: 12rem 2rem;
  height: 100%;
  width: 50%;
}

.combo__btns {
  margin: 0 auto;
  padding: 0.5rem 1rem;
  width: 60%;
}

.ps__text {
  font-size: 0.5rem;
}
