.content {
  background-color: var(--color-main-bg);
  color: var(--color-font-white);

  margin: 3rem 0;
  padding: 0.5rem;

  width: 100%;
}

.article {
  display: block;

  position: relative;
  width: 100%;
}

section {
  margin: 2rem 0;
}

.btn {
  background: none;
  border: 2px solid var(--color-font-white);
  border-radius: 0.5rem;
  cursor: pointer;

  transition: all 500ms;
}

.solid__btn {
  border-color: var(--color-button-blue);
  background-color: var(--color-button-blue);
  color: var(--color-font-white);

  font-weight: 700;
}

.solid__btn:hover {
  background-color: var(--color-font-white);
  color: var(--color-button-blue);
}

.outline__btn {
  background-color: none;
  color: var(--color-font-white);
}

.outline__btn:hover {
  background-color: var(--color-font-white);
  border-color: var(--color-button-blue);
  color: var(--color-button-blue);
}

@media screen and (max-width: 868px) {
  .imgs {
    display: none;
  }

  .text__div:not(.border-box) {
    border: 2px solid #fff2;
    background-color: #fff1;
    border-radius: 1rem;

    margin: 1rem 0;
    padding: 2rem;
  }
}
