:root {
  --color-main-bg: #00030c;

  --color-font-white: #f9f9f9;
  --color-font-grey: #c0c0c0;

  --color-button-blue: #167bf7;

  --font-main-text: "Inter";
  --font-text-weight: 400;
  --font-title-weight: 700;
}

body main.content {
  font-family: var(--font-main-text);
  font-weight: var(--font-text-weight);
}

a {
  color: var(--color-font-white);
  text-decoration: none;
}

.btn {
  padding: 0.5rem 1rem;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.nowrap {
  flex-wrap: nowrap;
}

.border-box {
  box-sizing: border-box;
}

.parent__row {
  flex-direction: row;
}

.parent__col {
  flex-direction: column;
}

.space__btw {
  justify-content: space-between;
}

.center {
  align-items: center;
  text-align: center;
}

.left {
  text-align: left;
}

.j__center {
  justify-content: center;
}

.contain__img {
  object-fit: contain;
}

.fill__img {
  object-fit: fill;
}

.cover__img {
  object-fit: cover;
}

a:hover,
button:hover {
  cursor: pointer;
}

.title {
  font-size: 3rem;
  font-weight: var(--font-title-weight);
}
