.product__artc {
  gap: 2rem;
  padding: 1rem 2rem;
  width: 100%;
}

.product__sect div {
  width: 40%;
}

.text__div:not(.combo__text) {
  margin: 1rem 0;

  z-index: 2;
}

.imgs__div {
  position: relative;
  left: 0;
  top: 0;
}

.bg__imgs {
  position: relative;
  left: 0;
  top: 0;
}

.front__imgs {
  position: absolute;
}

.front-view__img {
  bottom: 2rem;
  left: 4rem;
}

.product__btn {
  margin: 1rem 0;
  width: 40%;
}

.linguas__img {
  top: 2rem;
  left: 4rem;
}

.devices__artc {
  padding: 0 0 2rem 0;
}

.figc {
  margin: 0.5rem 2rem;
}
